{% extends 'base.html'%}

{% block content%}
<br/>
<br/>
<main role="main">
<div class="container" id="containers">
  {% for product in products.all%}
  <div class='row pt-3'>
    <div class='col-2' onclick= "window.location= '{% url 'detail' product.id %}';" style = "cursor:pointer;">
      <img src='{{product.icon.url}}' class='img-fluid'/>
      </div>
      <div class='col-5' onclick= "window.location= '{% url 'detail' product.id %}';" style = "cursor:pointer;">
        <h3>{{product.title}}</h3>
        <p>{{product.summary}}...</p>
      </div>
      <div class='col-2'>
        <a href="javascript:{document.getElementById('upvote{{product.id}}').submit()}"><button class= "btn btn-pimary bg-light btn btn-block"><span class="oi oi-caret-top"></span>{{product.votes}}</button></a>
      </div>
      </div>
      <form id='upvote{{product.id}}' method="POST" action="{% url 'upvote' product.id %}">
        {% csrf_token %}
        <input type='hidden'/>
        </form>
      {% endfor %}

    </div>
</main>

{% endblock %}
